@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100&display=swap');
@import url('//db.onlinewebfonts.com/c/67137b5f6928edc941186baaab5a664b?family=Lemon/Milk');
/*Colores*/

$Color-blanco:  #ffffff;
$Color-rojo:  rgb(236,82,72);
$Color-negro:  rgb(35,39,42);
$Color-amarillo:  #f5df4d;  
$Color-negro-total: #231f20;
$Color-Am-Logo: #f2f3cb;

/*Fuentes*/

@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

$fuente1: 'Montserrat','sans-serif';
$fuente2: 'Lemon/Milk','sans-serif';


/*Tamaños*/

$break-mobile-M: 375px;
$break-mobile-L: 425px;
$break-mobile-tablet: 597px;
$break-tablet: 768px;
$break-laptop: 1024px;
$break-laptop-S: 1144px;
$break-laptop-M: 1280px;
$break-laptop-L: 1440px;

/*general*/




*{
    padding: 0;
    margin: 0;
    outline: none;
}


h1{
    font-family: $fuente2;
}



button,span,p,a{
    font-family: $fuente1;
}

/*secciones santi*/

/*header*/

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 13vh;
    background-color: BLACK;
    &__logo{
        width: 5em;
        img{
            width: 100%;
        }
    }
}

/*hero*/

.hero{
    height: 87vh;
    background-image: url('../images/DSC08502Opt.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: 50%;
    .hero__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        &-title{
            margin-bottom:1em;
            color: white;
            font-weight: lighter;
        }
        a{  
            display: flex;
            justify-content: center;
            align-items: center;
            width: 8em;
            height: 2.5em;
            color: $Color-negro;
            background-color: $Color-blanco;
            border-radius: .5em;
            border: none;
            font-size: 1.3em;
            text-decoration: none;
            font-weight: 600;
        }
        a:hover{
            background-color: #d3d3d3;
        }
    }
    
}

/*Carousel mobile*/

.greazyRotate{
    width: 8em;
    margin-bottom: 1em;
}

.catalog{
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em 0;
    background-color: black;
    color:$Color-blanco;
    overflow: hidden;
    
    .carousel{
        display: flex;
        justify-content: center;
        &__contenedor{
            position: relative;
            width: 100%;
            max-width: 25em;

            .carousel__lista{
                .product{
                    &__image{
                        position: relative;
                        width: 17em;
                        margin: 0 auto;
                        margin-bottom: .5em;
                        height: fit-content;
                        transition: ease-out .5s;
                        img{
                            width: 100%;
                        }
                        .contact{
                            position: absolute;
                            bottom: 0;
                            display: flex;
                            justify-content: space-evenly;
                            align-items: center;
                            height: 3em;
                            background-color: rgba(0, 0, 0, .5);
                            a{
                                color: $Color-blanco;
                                i{
                                    color: $Color-blanco;
                                    font-size: 2em;
            
                                }
                            }
                        }
                    }
                    span{
                        display: block;
                        width: fit-content;
                        margin-left: 16%;
                        margin-bottom: .5em;
                        color: $Color-blanco;
                    }
                    
                }
            }
            .carousel__siguiente,.carousel__anterior{
                z-index: 1;
                position: absolute;
                top: calc(50% - 4em);
                font-size: 1.5em;
                opacity: .6;
                color: $Color-blanco;
                background: none;
                border: none;
                cursor: pointer;

            }

            .carousel__anterior{
                left: 40px;
            }
            .carousel__siguiente{
                right: 40px;

            }
            .glider-dot{
                height: .5em;
                border-radius: 0;
                background-color: #ffffff6e;
                
            }
            .glider-dot:hover{
                background-color: #ffffffad;
            }
            .glider-dot.active{
                background-color: $Color-blanco;
            }
        }

    }

    
}




/* Sección 1 - Imágen + Texto */

    .about__greazy {
    width: 100%;
    position: relative;
    margin: 100px auto 100px auto;


        &-image {
            display: flex;
            height: fit-content;
            position: relative;
        }
    
        &-image img {
            width: 55%;
            margin: 100px auto 0px auto;
            object-fit: cover;
        }

        &-image img:nth-child(1) {
            z-index: 4;
            margin-bottom: 10px;
            margin-top: -20px;
        }

        &-image img:nth-child(2) {
            opacity: 0.5;
            margin-left: -150px;
            margin-top: 25px;
            margin-bottom: 20px;
            z-index: 3;
        }

        &-image img:nth-child(3) {
            opacity: 0.3;
            margin-left: -180px;
            margin-top: -25px;
            margin-bottom: 60px;
            z-index: 2;
        }

        &-image img:nth-child(4) {
            opacity: 0.3;
            margin-left: -180px;
            margin-top: -60px;
            margin-bottom: 80px;
            z-index: 0.1;
            display: none;
        }

        &-info {
            height: fit-content;
            color: black;
            width: 90%;
            padding: 20px 0px 0px 0px;
            margin: 20px auto 0px auto;
            
            &__title {
                color: $Color-rojo;
                font-family: $fuente2;
                text-align: center;
                margin-bottom: 20px;
                padding: 20px 0px 5px 0px;
            }

            &__descripton {
                font-family: $fuente1;
                text-align: justify;
                padding: 10px 10px 0px 10px;
                line-height: 25px;
            }
        }
    }

/* Galeria de 9 Fotos */
section.gallery {
background-color: black;
width: 100%;
padding: 10px 0px;
    img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: auto;
        margin: 10px auto;
    }
}

/* Sección de contacto */

.contact {
    font-family: $fuente2;
    background-color: black;
    width: 100%;

    .contact__box {
        text-align: center;
        width: 100%;
        padding: 15px 0px;
        color: $Color-amarillo;

        h2 {
            color: $Color-Am-Logo;
        }

        img {
            width: 100%;
            object-fit: cover;
            background-position-y: 100%;
        }

        &__redes {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 40px;
            color: white;

            span i {
                margin: 10px;
                font-size: 30px;
            }
        }
    }
}

.footer {
    font-family: $fuente2;
    width: 100%;
    padding: 20px 0px;
    color: $Color-amarillo;
    text-align: center;
    background-color: black;
    font-size: 10px;
    color: white;
}


/*RESPONSIVE*/

@media screen and (min-width: $break-mobile-M) {
    .catalog{
        .carousel{
            &__contenedor{
                max-width: 30em;
                .carousel__lista{
                    .product{
                        &__image{
                            width: 20em;
                            .content{
                                height: 10em;
                            }
                        }
                        span{
                            margin-left:17%;
                        }
                    }

                }
                .carousel__anterior{
                    left: 40px;
                }
                .carousel__siguiente{
                    right: 40px;
                }
            }
        }
    }
}


// TABLETA
@media screen and (min-width: 485px){

    section.gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        img:nth-child(9) {
            grid-column: 1 / 3;
            width: 50%;
        }
    }

    .about__greazy-image {
        width: 50%;
        margin: 0 auto;
    
        img:nth-child(4) {
            display: block;
        }
    }

    section.contact .contact__box img {
        height: 200px;
        background-position: 50%;
    }

    .catalog{
        .carousel{
            &__contenedor{
                max-width: 30em;
                .carousel__lista{
                    .product{
                        &__image{
                            width: 20em;
                        }
                    }

                }
            }
        }
    }

}
//tablet-desktop

@media screen and (min-width: 700px) {
    .header{
        height: 15vh;
    }
    .hero{
        height: 85vh;
        background-position-y: -60px;
    }
    .greazyRotate{
        width: 8em;
        margin-bottom:2em;
    }
    .catalog{
        .carousel{
            &__contenedor{
                width: 90%;
                max-width: 50em;
                .carousel__lista{
                    .product{
                        &__image{
                            width: 18em;
                        }
                        span{
                            margin-left:10%;
                        }
                    }

                }
                .carousel__anterior{
                    left: 10px;
                }
                .carousel__siguiente{
                    right: 10px;
                }
            }
        }
    }
}

// DESKTOP
@media screen and (min-width: 837px) {
    .catalog{
        .carousel{
            &__contenedor{
                max-width: 60em;
                .carousel__lista{
                    .product{
                        &__image{
                            width: 18em;
                        }
                        span{
                            margin-left:16.5%;
                        }
                    }

                }
                .carousel__anterior,.carousel__siguiente{
                    font-size: 2em;
                }
                .carousel__anterior{
                    left: 20px;
                }
                .carousel__siguiente{
                    right: 20px;
                }


            }
        }
    }

    section.gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;

        img:nth-child(9) {
            grid-column: auto;
            width: 100%;
        }
    }

    .footer {
        font-size: 14px;
    }

}

@media screen and (min-width: 950px) {
    .catalog{
        .carousel{
            &__contenedor{
                .carousel__lista{
                    .product{
                        &__image{
                            width: 20em;
                        }
                        span{
                            margin-left: 13%;
                        }
                    }

                }
            }
        }
    }
}

@media screen and (min-width: $break-laptop) {

    .hero{
        background-position-y: -230px;
    }
    .catalog{
        
        .carousel{
            &__contenedor{
                max-width: 70em;
                .carousel__lista{
                    .product{
                        &__image{
                            width: 17em;
                        }
                        span{
                            margin-left: 10%;
                        }
                    }

                }
                .carousel__anterior{
                    left: 5px;
                }
                .carousel__siguiente{
                    right: 5px;
                }


            }
        }
    }

}

@media screen and (min-width: $break-laptop-S){
    .catalog{
        .carousel{
            &__contenedor{
                max-width: 80em;
                .carousel__lista{
                    .product{
                        &__image{
                            width: 17em;
                        }
                        span{
                            margin-left: 14.6%;
                        }
                    }

                }
                .carousel__anterior{
                    left: 10px;
                }
                .carousel__siguiente{
                    right: 10px;
                }


            }
        }
    }
}

@media screen and (min-width: 1200px) {

    .about__greazy {
        position: relative;
        width: 70%;
        height: 100vh;
        margin: 0px auto;
        padding-top: 60px;
        padding-bottom: 30px;
    
            &-image{ 
                margin-top: 100px;
                margin-bottom: 10px;
                display: flex;
                height: fit-content;
                
                img {
                    position: relative;
                    width: 65%;
                }
            }
    
            &-image img:nth-child(1) {
                z-index: 4;
            }
    
            &-image img:nth-child(2) {
                opacity: 0.5;
                margin-left: -150px;
                margin-top: -50px;
                margin-bottom: 30px;
                z-index: 3;
            }
    
            &-image img:nth-child(3) {
                opacity: 0.3;
                margin-left: -180px;
                margin-top: -70px;
                margin-bottom: 50px;
                z-index: 2;
            }
    
            &-image img:nth-child(4) {
                opacity: 0.3;
                margin-left: -180px;
                margin-top: -80px;
                margin-bottom: 80px;
                z-index: 0.1;
                display: block;
            }
    
            &-info {
                position: absolute;
                bottom: 100px;
                height: fit-content;
                background-color: black;
                color: #fff;
                width: 45%;
                text-align: left;
                padding: 20px 10px;
                z-index: 5;
                &__title {
                    color: $Color-Am-Logo;
                    margin: 20px 0px;
                }
            }
    
            
        }

}




@media screen and (min-width: $break-laptop-M){
    
    .catalog{
        .carousel{
            &__contenedor{
                max-width: 90em;
                .carousel__lista{
                    .product{
                        &__image{
                            width: 20em;
                        }
                        span{
                            margin-left: 13.2%;
                        }
                    }

                }
                .carousel__anterior,.carousel__siguiente{
                    top: calc(50% - 3em);

                }
                .carousel__anterior{
                    left: 10px;
                }
                .carousel__siguiente{
                    right: 10px;
                }


            }
        }
    }
}