mixin producto(imgUrl, nombre, precio, mensaje)
    .product
        .product__image
            img(src=""+imgUrl, alt="")
            .contact
                a(href="https://www.instagram.com/__greazy__/?hl=es-la")
                    i.fab.fa-instagram
                a(href=""+mensaje)
                    i.fab.fa-whatsapp           
        span.product__name #{nombre}
        span.product__price #{precio}

<!DOCTYPE html>
html(lang="es") 
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/estilos.css")
        link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.15.1/css/all.css' integrity='sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp' crossorigin='anonymous')
        title Greazy
    body
        header.header
            .header__logo
                img(src="images/logo.png", alt="Logo de greazy")
        main.hero
                .hero__container
                    h1.hero__container-title Greazy
                    button Contáctanos
        section.catalog
            .catalog__carousel-mobile
                .carousel__mobile
                    +producto("images/camisa4.PNG","Camisa 4", "55.000 COP", "https://api.whatsapp.com/send?phone=573104052315&text=Me%20interesa%20la%20camisa%204")
                    +producto("images/croptop1.PNG","Crop top 1", "50.000 COP", "https://api.whatsapp.com/send?phone=573104052315&text=Me%20interesa%20la%20camisa%204")
                    +producto("images/riñonera1.PNG","riñonera1", "20.000 COP", "https://api.whatsapp.com/send?phone=573104052315&text=Me%20interesa%20la%20camisa%204")
                    +producto("images/camisa4.PNG","Camisa 4", "55.000 COP", "https://api.whatsapp.com/send?phone=573104052315&text=Me%20interesa%20la%20camisa%204")
                    //- +producto("images/croptop1.PNG","Crop top 1", "50.000 COP", "https://api.whatsapp.com/send?phone=573104052315&text=Me%20interesa%20la%20camisa%204")
                    //- +producto("images/riñonera1.PNG","riñonera1", "20.000 COP", "https://api.whatsapp.com/send?phone=573104052315&text=Me%20interesa%20la%20camisa%204")
                    //- +producto("images/camisa4.PNG","Camisa 4", "55.000 COP", "https://api.whatsapp.com/send?phone=573104052315&text=Me%20interesa%20la%20camisa%204")
                    //- +producto("images/croptop1.PNG","Crop top 1", "50.000 COP", "https://api.whatsapp.com/send?phone=573104052315&text=Me%20interesa%20la%20camisa%204")
                    //- +producto("images/riñonera1.PNG","riñonera1", "20.000 COP", "https://api.whatsapp.com/send?phone=573104052315&text=Me%20interesa%20la%20camisa%204")
                    //- +producto("images/camisa4.PNG","Camisa 4", "55.000 COP", "https://api.whatsapp.com/send?phone=573104052315&text=Me%20interesa%20la%20camisa%204")
                    //- +producto("images/croptop1.PNG","Crop top 1", "50.000 COP", "https://api.whatsapp.com/send?phone=573104052315&text=Me%20interesa%20la%20camisa%204")
                    //- +producto("images/riñonera1.PNG","riñonera1", "20.000 COP", "https://api.whatsapp.com/send?phone=573104052315&text=Me%20interesa%20la%20camisa%204")
    

            .catalog_carousel-laptop

                
        section.about__greazy
            .about__greazy-image
                    img(src="images/DSC08567.jpg", alt="ANYTIME IS A GOOD TIME") 
                    img(src="images/DSC08567.jpg", alt="ANYTIME IS A GOOD TIME") 
                    img(src="images/DSC08567.jpg", alt="ANYTIME IS A GOOD TIME") 
                    img(src="images/DSC08567.jpg", alt="ANYTIME IS A GOOD TIME") 
            .about__greazy-info
                h2.about__greazy-info__title ANYTIME IS A GOOD TIME
                p.about__greazy-info__descripton En Greazy rompemos con todo aquello que nos diga como y cuando vestirnos , buscando expresar frescura y crudeza en nuestros diseños y movimientos, demostrando asi que cualquiera puede pertenecer a Greazy Gang.
        section.gallery
            img(src="../images/DSC08397.jpg", alt="Imagen decorativa")
            img(src="https://farm9.staticflickr.com/8107/8496890378_a313d62a38_b.jpg", alt="Medellín") 
            img(src="../images/DSC08421.jpg", alt="Imagen decorativa")
            img(src="https://www.elcolombiano.com/documents/10157/0/853x562/0c0/0d0/none/11101/NJHQ/image_content_36870923_20201216144454.jpg", alt="Medellín")
            img(src="../images/DSC08477.jpg", alt="Imagen decorativa")
            img(src="https://www.elcolombiano.com/documents/10157/0/649x365/35c0/580d365/none/11101/DLFL/image_content_36765791_20201130231215.jpg", alt="Medellín") 
            img(src="../images/DSC08663.jpg", alt="Imagen decorativa")
            img(src="https://www.elcolombiano.com/documents/10157/0/584x365/2c0/580d365/none/11101/AXGF/image_content_36244892_20200821103433.jpg", alt="Medellín")
            img(src="../images/DSC08519.jpg", alt="Imagen decorativa")
        section.contact
            .contact__box
                .contact__box__redes
                    span 
                        i.fab.fa-instagram 
                    span 
                        i.fab.fa-whatsapp
                    span 
                        i.fab.fa-facebook-f 
        footer.footer
            span.rights ©2020 by Greazy
        script(src="js/carousel-mobile.js")