mixin producto(imgUrl, nombre, precio, mensaje)
    .product
        .product__image
            img(loading="lazy", src=""+imgUrl, alt="")
            .contacto
                a(href="https://www.instagram.com/__greazy__/?hl=es-la")
                    i.fab.fa-instagram
                a(href="https://www.facebook.com/Greazy-streetwear-101671948261008")
                    i.fab.fa-facebook-f
                a(href=""+mensaje)
                    i.fab.fa-whatsapp           
        span.product__name #{nombre}
        span.product__price #{precio}

<!DOCTYPE html>
html(lang="es") 
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description", content="En Greazy rompemos con todo aquello que nos diga como y cuando vestirnos, buscando expresar frescura y crudeza en nuestros diseños y movimientos, demostrando asi que cualquiera puede pertenecer a Greazy Gang")
        link(rel='shortcut icon' href='images/logoblanco.png' type='image/x-icon')
        link(rel="stylesheet", href="css/estilos_hero.css")        
                
        title Greazy
    body
        header.header
            .header__logo
                img(loading="lazy", src="images/logo.png", alt="Logo de greazy")
        main.hero
                .hero__container
                    img(loading="lazy", src="images/logoblanco.png", alt="").greazyRotate
                    a(href="https://api.whatsapp.com/send?phone=573226330880&text=Hola%20vengo%20de%20la%20p%C3%A1gina%20web%20y%20me%20interesa%20conocer%20m%C3%A1s%20de%20ustedes") Contáctanos
        section.catalog
            img(loading="lazy", src="images/logoblanco.png", alt="loco de greazy girando").greazyRotate
            h2 Toca lo que te guste y pídelo
            
            .carousel
                .carousel__contenedor
                    button.carousel__anterior
                        i.fas.fa-arrow-left
                    .carousel__lista
                        +producto("images/cultureO.jpg","CULTURE", "65.000 COP", "https://api.whatsapp.com/send?phone=573226330880&text=Hola%20me%20interesa%20la%20camisa%20Culture,%20%C2%BFpodr%C3%ADas%20darme%20m%C3%A1s%20informaci%C3%B3n?")            
                        +producto("images/Rinoneragreazyblack.jpg","BLACK CANGURO", "60.000 COP", "https://api.whatsapp.com/send?phone=573226330880&text=Hola%20me%20interesa%20la%20ri%C3%B1onera%20Black%20Canguro,%20%C2%BFpodr%C3%ADas%20darme%20m%C3%A1s%20informaci%C3%B3n?")            
                        +producto("images/croptoplifesentence.jpg","CROP LIFE SENTENCE", "45.000 COP", "https://api.whatsapp.com/send?phone=573226330880&text=Hola%20me%20interesa%20el%20crop%20Life%20Sentence,%20%C2%BFpodr%C3%ADas%20darme%20m%C3%A1s%20informaci%C3%B3n?")            
                        +producto("images/Lifesentence.jpg","LIFE SENTENCE", "65.000 COP", "https://api.whatsapp.com/send?phone=573226330880&text=Hola%20me%20interesa%20la%20camisa%20Life%20Sentence,%20%C2%BFpodr%C3%ADas%20darme%20m%C3%A1s%20informaci%C3%B3n?")            
                        +producto("images/Rinoneragreazyred.jpg","RED CANGURO", "60.000 COP", "https://api.whatsapp.com/send?phone=573226330880&text=Hola%20me%20interesa%20la%20ri%C3%B1onera%20Red%20Canguro,%20%C2%BFpodr%C3%ADas%20darme%20m%C3%A1s%20informaci%C3%B3n?")            
                        +producto("images/Croptopgardenofeden.jpg","CROP GARDEN", "45.000 COP", "https://api.whatsapp.com/send?phone=573226330880&text=Hola%20me%20interesa%20el%20crop%20Garden,%20%C2%BFpodr%C3%ADas%20darme%20m%C3%A1s%20informaci%C3%B3n?")            
                        +producto("images/Gardenofeden.jpg","GARDEN OF EDEN", "65.000 COP", "https://api.whatsapp.com/send?phone=573226330880&text=Hola%20me%20interesa%20la%20camisa%20Garden%20of%20Eden,%20%C2%BFpodr%C3%ADas%20darme%20m%C3%A1s%20informaci%C3%B3n?")            
                        +producto("images/Rinoneragreazywhite.jpg","WHITE CANGURO", "60.000 COP", "https://api.whatsapp.com/send?phone=573226330880&text=Hola%20me%20interesa%20la%20ri%C3%B1onera%20White%20Canguro,%20%C2%BFpodr%C3%ADas%20darme%20m%C3%A1s%20informaci%C3%B3n?")            
                        +producto("images/Croptopgreazyred.jpg","CROP RED", "45.000 COP", "https://api.whatsapp.com/send?phone=573226330880&text=Hola%20me%20interesa%20el%20crop%20Red,%20%C2%BFpodr%C3%ADas%20darme%20m%C3%A1s%20informaci%C3%B3n?")            
                        +producto("images/Crowgang.jpg","CROW GANG", "65.000 COP", "https://api.whatsapp.com/send?phone=573226330880&text=Hola%20me%20interesa%20el%20crow%20Gang,%20%C2%BFpodr%C3%ADas%20darme%20m%C3%A1s%20informaci%C3%B3n?")            
                        +producto("images/Greazybasicblack(1).jpg","GREAZY BASIC B/W", "55.000 COP", "https://api.whatsapp.com/send?phone=573226330880&text=Hola%20me%20interesa%20el%20Greazy%20Basic%20B/W,%20%C2%BFpodr%C3%ADas%20darme%20m%C3%A1s%20informaci%C3%B3n?")            
                        +producto("images/Greazybasicwhite.jpg","GREAZY BASIC W/R", "55.000 COP", "https://api.whatsapp.com/send?phone=573226330880&text=Hola%20me%20interesa%20el%20Greazy%20Basic%20W/R,%20%C2%BFpodr%C3%ADas%20darme%20m%C3%A1s%20informaci%C3%B3n?")  

                        
                    button.carousel__siguiente
                        i.fas.fa-arrow-right
                    .carousel__indicadores(role="tablist")      
        section.about__greazy
            .about__greazy-image
                    img(loading="lazy", src="images/DSC08567.jpg", alt="ANYTIME IS A GOOD TIME") 
                    img(loading="lazy", src="images/DSC08567.jpg", alt="ANYTIME IS A GOOD TIME") 
                    img(loading="lazy", src="images/DSC08567.jpg", alt="ANYTIME IS A GOOD TIME") 
                    img(loading="lazy", src="images/DSC08567.jpg", alt="ANYTIME IS A GOOD TIME") 
            .about__greazy-info
                h2.about__greazy-info__title ANYTIME IS A GOOD TIME
                p.about__greazy-info__descripton En Greazy rompemos con todo aquello que nos diga como y cuando vestirnos, buscando expresar frescura y crudeza en nuestros diseños y movimientos, demostrando asi que cualquiera puede pertenecer a Greazy Gang.
        section.gallery
            img(loading="lazy", src="images/DSC08397.jpg", alt="Imagen decorativa")
            img(loading="lazy", src="images/GREAZYLANDINGMEDELLIN1.jpg", alt="Medellín")
            img(loading="lazy", src="images/DSC08421.jpg", alt="Imagen decorativa")
            img(loading="lazy", src="images/GREAZYLANDINGMEDELLIN2.jpg", alt="Medellín")
            img(loading="lazy", src="images/DSC08477.jpg", alt="Imagen decorativa")
            img(loading="lazy", src="images/GREAZYLANDING 4.jpg", alt="Medellín")
            img(loading="lazy", src="images/DSC08663.jpg", alt="Imagen decorativa")
            img(loading="lazy", src="images/GREAZYLANDING 5.jpg", alt="Medellín")
            img(loading="lazy", src="images/DSC08519.jpg", alt="Imagen decorativa")

        section.contact
            .contact__box
                .contact__box__redes
                    a(href="https://www.instagram.com/__greazy__/?hl=es-la") 
                        i.fab.fa-instagram 
                    a(href="https://api.whatsapp.com/send?phone=573226330880&text=Hola%20vengo%20de%20la%20p%C3%A1gina%20web%20y%20me%20interesa%20conocer%20m%C3%A1s%20de%20ustedes") 
                        i.fab.fa-whatsapp
                    a(href="https://www.facebook.com/Greazy-streetwear-101671948261008") 
                        i.fab.fa-facebook-f 
        footer.footer
            span.rights ® 2020 by Greazy
        script(src="https://polyfill.io/v2/polyfill.min.js?features=IntersectionObserver")
        script(async src="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.js")
        script(async src="js/carousel-mobile.js")
        script(async src="js/index_animation.js")
        

        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.css")
        link(rel="stylesheet", href="css/estilos.css")
        link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.15.1/css/all.css' integrity='sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp' crossorigin='anonymous')