mixin producto(imgUrl, nombre, precio, mensaje)
    .product
        .product__image
            img(src=""+imgUrl, alt="")
            .contact
                a(href="https://www.instagram.com/__greazy__/?hl=es-la")
                    i.fab.fa-instagram
                a(href=""+mensaje)
                    i.fab.fa-whatsapp           
        span.product__name #{nombre}
        span.product__price #{precio}

<!DOCTYPE html>
html(lang="es") 
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='shortcut icon' href='images/logoblanco.png' type='image/x-icon')
        link(rel="stylesheet", href="css/estilos_hero.css")        
                
        title Greazy
    body
        header.header
            .header__logo
                img(src="images/logo.png", alt="Logo de greazy")
        main.hero
                .hero__container
                    img(src="images/logoblanco.png", alt="").greazyRotate
                    a(href="") Contáctanos
        section.catalog
            img(src="images/logoblanco.png", alt="loco de greazy girando").greazyRotate
            .carousel
                .carousel__contenedor
                    button.carousel__anterior
                        i.fas.fa-arrow-left
                    .carousel__lista
                        +producto("images/culture.jpg","CULTURE", "65.000 COP", "https://api.whatsapp.com/send?phone=573104052315&text=Me%20interesa%20la%20camisa%204")            
                        +producto("images/Rinoneragreazyblack.jpg","BLACK CANGURO", "60.000 COP", "https://api.whatsapp.com/send?phone=573104052315&text=Me%20interesa%20la%20camisa%204")            
                        +producto("images/croptoplifesentence.jpg","CROP LIFE SENTENCE", "45.000 COP", "https://api.whatsapp.com/send?phone=573104052315&text=Me%20interesa%20la%20camisa%204")            
                        +producto("images/Lifesentence.jpg","LIFE SENTENCE", "65.000 COP", "https://api.whatsapp.com/send?phone=573104052315&text=Me%20interesa%20la%20camisa%204")            
                        +producto("images/Rinoneragreazyred.jpg","RED CANGURO", "60.000 COP", "https://api.whatsapp.com/send?phone=573104052315&text=Me%20interesa%20la%20camisa%204")            
                        +producto("images/Croptopgardenofeden.jpg","CROP GARDEN", "45.000 COP", "https://api.whatsapp.com/send?phone=573104052315&text=Me%20interesa%20la%20camisa%204")            
                        +producto("images/Gardenofeden.jpg","GARDEN OF EDEN", "65.000 COP", "https://api.whatsapp.com/send?phone=573104052315&text=Me%20interesa%20la%20camisa%204")            
                        +producto("images/Rinoneragreazywhite.jpg","WHITE CANGURO", "60.000 COP", "https://api.whatsapp.com/send?phone=573104052315&text=Me%20interesa%20la%20camisa%204")            
                        +producto("images/Croptopgreazyred.jpg","CROP RED", "45.000 COP", "https://api.whatsapp.com/send?phone=573104052315&text=Me%20interesa%20la%20camisa%204")            
                        +producto("images/Crowgang.jpg","CROW GANG", "65.000 COP", "https://api.whatsapp.com/send?phone=573104052315&text=Me%20interesa%20la%20camisa%204")            
                        +producto("images/Greazybasicblack(1).jpg","GREAZY BASIC B/W", "55.000 COP", "https://api.whatsapp.com/send?phone=573104052315&text=Me%20interesa%20la%20camisa%204")            
                        +producto("images/Greazybasicwhite.jpg","GREAZY BASIC W/R", "55.000 COP", "https://api.whatsapp.com/send?phone=573104052315&text=Me%20interesa%20la%20camisa%204")  

                        
                    button.carousel__siguiente
                        i.fas.fa-arrow-right
                    .carousel__indicadores(role="tablist")      
        section.about__greazy
            .about__greazy-image
                    img(src="images/DSC08567.jpg", alt="ANYTIME IS A GOOD TIME") 
                    img(src="images/DSC08567.jpg", alt="ANYTIME IS A GOOD TIME") 
                    img(src="images/DSC08567.jpg", alt="ANYTIME IS A GOOD TIME") 
                    img(src="images/DSC08567.jpg", alt="ANYTIME IS A GOOD TIME") 
            .about__greazy-info
                h2.about__greazy-info__title ANYTIME IS A GOOD TIME
                p.about__greazy-info__descripton En Greazy rompemos con todo aquello que nos diga como y cuando vestirnos , buscando expresar frescura y crudeza en nuestros diseños y movimientos, demostrando asi que cualquiera puede pertenecer a Greazy Gang.
        section.gallery
            img(src="images/DSC08397.jpg", alt="Imagen decorativa")
            img(src="images/GREAZYLANDINGMEDELLIN1.jpg", alt="Medellín")
            img(src="images/DSC08421.jpg", alt="Imagen decorativa")
            img(src="images/GREAZYLANDINGMEDELLIN2.jpg", alt="Medellín")
            img(src="images/DSC08477.jpg", alt="Imagen decorativa")
            img(src="images/GREAZYLANDING 4.jpg", alt="Medellín")
            img(src="images/DSC08663.jpg", alt="Imagen decorativa")
            img(src="images/GREAZYLANDING 5.jpg", alt="Medellín")
            img(src="images/DSC08519.jpg", alt="Imagen decorativa")

        section.contact
            .contact__box
                .contact__box__redes
                    a(href="https://www.instagram.com/__greazy__/?hl=es-la") 
                        i.fab.fa-instagram 
                    a(href="") 
                        i.fab.fa-whatsapp
                    a(href="https://www.facebook.com/Greazy-streetwear-101671948261008") 
                        i.fab.fa-facebook-f 
        footer.footer
            span.rights ® 2020 by Greazy
        script(src="https://polyfill.io/v2/polyfill.min.js?features=IntersectionObserver")
        script(async src="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.js")
        script(async src="js/carousel-mobile.js")
        

        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.css")
        link(rel="stylesheet", href="css/estilos.css")
        link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.15.1/css/all.css' integrity='sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp' crossorigin='anonymous')